body {
  display: flex;
  height: 100vh;
  width: 100vw;
  gap: 1.5rem;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-image: url("./images/images.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.button {
  padding: 2px 17px;
  text-align: center;
  display: flex;
  align-items: center;
  border-radius: 12px;
  background: linear-gradient(to right, white, purple);
  font-weight: bolder;
  font-size: larger;
  width: fit-content;
}

.text {
  font-weight: bolder;
  font-size: larger;
  color: white;
  position: relative;
}

.text::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 12px;
  transform: translate(-50%, -50%);
  position: absolute;
  padding: 5px 10px;
  top: 50%;
  left: 50%;
  background: linear-gradient(to right, purple, blue, indigo);
  z-index: -1;
}

.button:hover {
  background: linear-gradient(to right, purple, white);
  cursor: pointer;
}

* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: cursive;
}

#webcam-container {
  border-radius: 15%;
  position: relative;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

#webcam-container::after,
#webcam-container::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 3px;
  transform: translate(-50%, -50%);
  background: conic-gradient(
    from var(--angle),
    rgb(255, 1, 1) 2%,
    transparent,
    transparent,
    transparent,
    transparent
  );
  z-index: -1;
  animation: spin 1s ease infinite;
}

#webcam-container::after {
  filter: blur(12px);
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

#label-container {
  font-weight: bolder;
  font-size: larger;
}

.hid {
  display: none;
}

.loading{
    min-width: 50px;
    min-height: 50px;
}